<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%= Heading %> </h1>
    </div>
    <div class="box" >
        <% newListItems.forEach(function(val){ %>
            <div class="item">
                <input type="checkbox" name="" id="">
                <p><%= val %></p>
            </div>
        <% })%>
        <form action="/" method="post" class="item">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="submit" value= <%=Heading %> > + </button>
        </form>
    </div>
    <%- include("footer") -%>